<html>
    <body>
        <center>
            <h1><hr> Telecom Churn Prediction Dashboard <hr></h1>
            <br><br><br>
            <form action="/prediction" method="post">
                <br>
                International plan: <input type="text" name="International plan"><br><br>
                Number vmail messages: <input type="text" name="Number vmail messages"> <br><br>
                Total day minutes: <input type="text" name="Total day minutes"> <br><br>
                Total eve minutes: <input type="text" name="Total eve minutes"> <br><br>
                Total night minutes: <input type="text" name="Total night minutes"> <br><br>
                Total intl minutes: <input type="text" name="Total intl minutes"> <br><br>
                Customer service calls: <input type="text" name="Customer service calls"> <br><br>
                <input type="submit">
            </form>
            <br>
            <hr><p> Designed by BootUP </p><hr>
        </center>
    </body>
</html>
